= semantic_form_for [:admin, @advertise_comment] do |f|
  = f.inputs do
    %li{class: 'input'}
      %label{class: 'label'} Nome do usuário
      = @advertise_comment.user_name
    = f.input :text
    %li{class: 'input'}
      %label{class: 'label'} Voto do usuário
      = @advertise_comment.rate.stars

  = f.actions