= show_notice
%br
.panel{class:'panel-default'}
  .panel-heading Preencha suas informações que logo entraremos em contato com você
  .panel-body
    %center{style:'display:none', id:'loader'}
      = image_tag('loader.gif')
    = form_tag register_advertise_mail_path, method: :post , class:'form-horizontal', role:'form' do
      .form-group
        %label{class:'col-sm-2 control-label'} Nome :
        .col-sm-10
          = text_field_tag 'contact[name]', '', class:'form-control'

      .form-group
        %label{class:'col-sm-2 control-label'} Email :
        .col-sm-10
          = text_field_tag 'contact[email]', '', class:'form-control'

      .form-group
        %label{class:'col-sm-2 control-label'} Mensagem :
        .col-sm-10
          = text_field_tag 'contact[message]', '', class:'form-control'

      .form-group
        .col-sm-offset-2{class:'col-sm-10'}
          = submit_tag 'Enviar', class:'btn btn-default', onclick:"$('#loader').show()"