= semantic_form_for [:admin, @advertise] do |f|
  - advertise = @advertise

  = f.inputs 'Informações da Loja', for: [:store, (advertise.store || Store.new)] do |s|
    = s.input :name
    = s.input :phones, hint: 'Ex1: 21 3453-3465 <br /> Ex2: 21 3443-2232 e 4432-4898 <br /> Ex3: 0800-7019656 e 21 3443-2232 <br /> IMPORTANTE: Esse formato é importante para funcionar o click-to-call no app'.html_safe
    = s.input :address, hint: 'Ex.: Rua Escobar, 51, São Cristovão, Rio de Janeiro, RJ <br /> IMPORTANTE: Esse formato é importante para obter as coordenadas geográficas (Lat - Long)'.html_safe
    = s.input :address_compl, hint: 'Ex.: Sala 304'
    = s.inputs 'Horarios de funcionamento' do
      %table
        - 0.upto(7) do |index|
          - open  = ''
          - close = ''
          - if advertise.store.present? && advertise.store.work_hour.present? && advertise.store.work_hour[0].eql?('[')
            - work_hours = JSON.parse(advertise.store.work_hour)
            - open = work_hours[index]['open']
            - close = work_hours[index]['close']
          %tr
            %td 
              = I18n.t('date.abbr_day_names')[index]
            %td
              %label
                = 'Abre às'
                %input{type: 'text', name: "advertise[store][work_hour][#{index}][open]", placeholder: 'Ex.: 9:00', value: open}
              %label
                = 'Fecha às'
                %input{type: 'text', name: "advertise[store][work_hour][#{index}][close]", placeholder: 'Ex.: 22:30', value: close}

    = s.input :id, as: :hidden
    = s.input :lat, as: :hidden
    = s.input :lng, as: :hidden

  = f.inputs 'Informações do anúncio' do
    = f.input :title
    = f.input :details, input_html: {rows:3, cols:50}
    = f.input :plan, as: :radio, collection: {'Semestral' => 'semestrial', 'Anual' => 'annual'}
    = f.input :highlight
    = f.input :delivery
    = f.input :payed
    = f.input :highlight_order, hint: 'Define em que posição será apresentado dentro da área de destaque. Os possíveis valores são de 1 à 5.'
    = f.input :begin_at, as: :just_datetime_picker
    = f.input :end_at, as: :just_datetime_picker, hint: advertise.expired_alert
    = f.input :keywords, hint: 'Hamburgues, Suco, Sanduíche, Café'

  = f.inputs 'Imagens', :multipart => true do
    = f.input :image, as: :file, input_html: {onclick:'addClearFile(this)'}, hint: ('Tamanho da imagem: 640x266 <br />' + image_tag(advertise.image)).html_safe
    = f.input :remove_image, as: :boolean if advertise.image.present?
    = f.input :highlight_image, as: :file, input_html: {onclick:'addClearFile(this)'},hint: ('Tamanho da imagem: 178x172 <br />' + image_tag(advertise.highlight_image)).html_safe
    = f.input :remove_highlight_image, as: :boolean if advertise.highlight_image.present?
    = f.input :neighborhood_image, as: :file, input_html: {onclick:'addClearFile(this)'},hint: ('Tamanho da imagem: 440x537 <br />' + image_tag(advertise.neighborhood_image)).html_safe
    = f.input :remove_neighborhood_image, as: :boolean if advertise.neighborhood_image.present?
    = f.input :neighborhood_image_for_site, as: :file, input_html: {onclick:'addClearFile(this)'},hint: ('Tamanho da imagem: 1024x768 <br />' + image_tag(advertise.neighborhood_image_for_site)).html_safe
    = f.input :remove_neighborhood_image_for_site, as: :boolean if advertise.neighborhood_image_for_site.present?

  = f.inputs 'Fotos', for: [:photos, Photo.new] do |ph|
    - 0.upto(7) do |index|
      - photo_image_tag = ''
      - photo_id = nil
      - if advertise.photos[index].present?
        - photo_id = advertise.photos[index].id
        - photo_image_tag = link_to(image_tag(advertise.photos[index].image, size: '192x108'), advertise.photos[index].image.url, target: 'blank')
        = ph.input :remove_image, as: :boolean, label: "Remover foto #{index+1}", input_html: {id: "remove_photo_#{index}", name: "advertise[photos_attributes][#{index}][remove_image]"}
      = ph.input :image, as: :file, label: "Foto #{index+1}", input_html: {id: "photo_#{index}", onclick:'addClearFile(this)', name: "advertise[photos_attributes][#{index}][image]"}, hint: ('Tamanho da imagem: 960x540 <br />' + photo_image_tag).html_safe
      - if photo_id.present?
        = ph.input :id, as: :hidden, input_html: {name: "advertise[photos_attributes][#{index}][id]", value: photo_id}

  = f.inputs 'Bairros onde será anunciado', for: [:neighborhoods, (advertise.neighborhoods[0] || Neighborhood.new)] do |n|
    = n.input :state, as: :select, collection: NeighborhoodDecorator.availables_states, input_html: {onchange:'loadSelectOptions(this, "/admin/advertises/cities","#advertise_neighborhoods_city")'}

    - cities = advertise.neighborhoods.collect{|n| n.city}.uniq
    = n.input :city, as: :select, collection: cities, input_html: {onchange:'loadSelectOptions(this, "/admin/advertises/neighborhoods","#advertise_neighborhoods_name")'}
    = n.input :name, as: :select, collection: ( cities.empty? ? [] : options_for_select(NeighborhoodDecorator.availables_by_city_for_select_tag(cities[0]), advertise.neighborhoods.collect{|n| n.id})), input_html: {multiple:'multiple', style:(cities.empty? ? 'display:none' : '')}

  = f.inputs 'Categorias', for: [:categories, (advertise.categories[0] || Category.new)] do |c|
    = c.input :parent_id, label: 'Categoria', as: :select, collection: CategoryDecorator.all_parents_for_select_tag, input_html: {onchange:'loadSelectOptions(this, "/admin/advertises/categories","#advertise_categories_name")'}
    = c.input :name, label: 'Subcategoria', as: :select, collection: ( advertise.categories.empty? ? [] :  options_for_select(CategoryDecorator.all_by_parent_for_select_tag(advertise.categories[0].parent_id), advertise.categories.collect{|c| c.id})), input_html: {multiple:'multiple', style:(advertise.categories.empty? ? 'display:none' : '')}

  = f.inputs 'Promoções', for: [:promotions, Promotion.new] do |p|
    %li{class: 'input'}
      - 0.upto(4) do |index|
        - promotion = advertise.promotions[index]
        - promotion_image_tag = ''
        - if promotion && promotion.image.url
          - promotion_image_tag = link_to(image_tag(promotion.image, size: '192x108'), promotion.image.url, target: 'blank')

        %fieldset{class:'inputs'}
          %legend 
            %span
              = "Promoção #{index+1}"
          %ol
            - if promotion.present?
              = p.input :remove_promotion, as: :boolean , label: "Remover promoção #{index+1}", input_html: {name: "advertise[promotions_attributes][#{index}][remove_promotion]"}
            = p.input :title, input_html: {name: "advertise[promotions_attributes][#{index}][title]", value: (promotion ? promotion.title : '')}
            = p.input :text, input_html: {name: "advertise[promotions_attributes][#{index}][text]", value: (promotion ? promotion.text : '')}
            = p.input :price, input_html: {name: "advertise[promotions_attributes][#{index}][price]", value: (promotion ? promotion.price : '')}
            = p.input :conditions, input_html: {name: "advertise[promotions_attributes][#{index}][conditions]", value: (promotion ? promotion.conditions : '')}
            = p.input :image, as: :file, input_html:{onclick:'addClearFile(this)', name: "advertise[promotions_attributes][#{index}][image]"} ,hint: ('Tamanho da imagem: 340x325 <br />' + promotion_image_tag).html_safe
            - if promotion
              = p.input :id, as: :hidden, input_html: {name: "advertise[promotions_attributes][#{index}][id]", value: promotion.id}

  = f.actions