!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=UTF-8"}
    %title Guia O JK - Solicitação de anúncio
  %body
    %h2= "Olá"
    %p
      O seguinte usuário solicitou contato para anunciar no Guia:
    %ul
      %li
        %strong Nome:
        %span= @user_name
      %li
        %strong Email:
        %span= @user_email
      %li
        %strong Mensagem:
        %span= @user_message
      